@import url(https://fonts.googleapis.com/css?family=Dosis:400);
/* line 17, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 33, ../sass/main.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 41, ../sass/main.scss */
* {
  margin: 0;
  padding: 0;
  color: #aaaaaa;
  font-family: 'Dosis', sans-serif;
}

/* line 46, ../sass/main.scss */
body {
  background-color: #ea4c89;
}

/* line 49, ../sass/main.scss */
#container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 54, ../sass/main.scss */
#shotWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition-property: scale, blur;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}
/* line 61, ../sass/main.scss */
#shotWrapper .wrapCol {
  position: fixed;
  bottom: 0;
}
/* line 67, ../sass/main.scss */
#shotWrapper.outFoucus {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  filter: blur(10px);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

/* line 72, ../sass/main.scss */
.anim_img {
  box-sizing: border-box;
  height: 0;
  width: 100%;
  background-position: center center;
  cursor: pointer;
  -o-animation: anim-scale 0.5s ease-in-out;
  -ms-animation: anim-scale 0.5s ease-in-out;
  -moz-animation: anim-scale 0.5s ease-in-out;
  -webkit-animation: anim-scale 0.5s ease-in-out;
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  -ms-transform-origin: center top;
  -o-transform-origin: center top;
  transform-origin: center top;
  transition-property: box-shadow;
  transition-duration: 0.1s;
  transition-timing-function: ease-out;
}
/* line 81, ../sass/main.scss */
.anim_img:hover {
  box-shadow: 0px 0px 0px 10px rgba(234, 76, 137, 0.8) inset;
}
/* line 84, ../sass/main.scss */
.anim_img .outFoucus .anim_img:hover {
  cursor: default;
}
/* line 87, ../sass/main.scss */
.anim_img.watchLater {
  box-shadow: 0px 0px 0px 1px rgba(234, 76, 137, 0.9) inset;
}

@-webkit-keyframes anim-scale {
  /* line 94, ../sass/main.scss */
  0% {
    -webkit-transform: scale(1, 0.4);
    -moz-transform: scale(1, 0.4);
    -ms-transform: scale(1, 0.4);
    -o-transform: scale(1, 0.4);
    transform: scale(1, 0.4);
  }

  /* line 95, ../sass/main.scss */
  40% {
    -webkit-transform: scale(1, 1.2);
    -moz-transform: scale(1, 1.2);
    -ms-transform: scale(1, 1.2);
    -o-transform: scale(1, 1.2);
    transform: scale(1, 1.2);
  }

  /* line 96, ../sass/main.scss */
  60% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  /* line 97, ../sass/main.scss */
  80% {
    -webkit-transform: scale(1, 1.1);
    -moz-transform: scale(1, 1.1);
    -ms-transform: scale(1, 1.1);
    -o-transform: scale(1, 1.1);
    transform: scale(1, 1.1);
  }

  /* line 98, ../sass/main.scss */
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@-moz-keyframes anim-scale {
  /* line 94, ../sass/main.scss */
  0% {
    -webkit-transform: scale(1, 0.4);
    -moz-transform: scale(1, 0.4);
    -ms-transform: scale(1, 0.4);
    -o-transform: scale(1, 0.4);
    transform: scale(1, 0.4);
  }

  /* line 95, ../sass/main.scss */
  40% {
    -webkit-transform: scale(1, 1.2);
    -moz-transform: scale(1, 1.2);
    -ms-transform: scale(1, 1.2);
    -o-transform: scale(1, 1.2);
    transform: scale(1, 1.2);
  }

  /* line 96, ../sass/main.scss */
  60% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  /* line 97, ../sass/main.scss */
  80% {
    -webkit-transform: scale(1, 1.1);
    -moz-transform: scale(1, 1.1);
    -ms-transform: scale(1, 1.1);
    -o-transform: scale(1, 1.1);
    transform: scale(1, 1.1);
  }

  /* line 98, ../sass/main.scss */
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

@keyframes anim-scale {
  /* line 94, ../sass/main.scss */
  0% {
    -webkit-transform: scale(1, 0.4);
    -moz-transform: scale(1, 0.4);
    -ms-transform: scale(1, 0.4);
    -o-transform: scale(1, 0.4);
    transform: scale(1, 0.4);
  }

  /* line 95, ../sass/main.scss */
  40% {
    -webkit-transform: scale(1, 1.2);
    -moz-transform: scale(1, 1.2);
    -ms-transform: scale(1, 1.2);
    -o-transform: scale(1, 1.2);
    transform: scale(1, 1.2);
  }

  /* line 96, ../sass/main.scss */
  60% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }

  /* line 97, ../sass/main.scss */
  80% {
    -webkit-transform: scale(1, 1.1);
    -moz-transform: scale(1, 1.1);
    -ms-transform: scale(1, 1.1);
    -o-transform: scale(1, 1.1);
    transform: scale(1, 1.1);
  }

  /* line 98, ../sass/main.scss */
  100% {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

/* line 103, ../sass/main.scss */
#header {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 900000;
}
/* line 108, ../sass/main.scss */
#header ul {
  background-color: rgba(0, 0, 0, 0);
  border: 1.5px solid #aaaaaa;
  padding: 6px 18px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  letter-spacing: 1px;
  color: #aaaaaa;
  font-family: 'Dosis', sans-serif;
  transition-property: border-color, background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}
/* line 117, ../sass/main.scss */
#header ul:hover {
  border-color: white;
  background-color: rgba(0, 0, 0, 0.1);
}
/* line 121, ../sass/main.scss */
#header ul li {
  float: left;
  margin: 0 8px;
  color: #aaaaaa;
  transition-property: color;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  cursor: pointer;
}
/* line 127, ../sass/main.scss */
#header ul li:hover {
  color: white;
}

@-webkit-keyframes show-txt {
  /* line 135, ../sass/main.scss */
  0% {
    color: #fff;
  }

  /* line 136, ../sass/main.scss */
  100% {
    color: #aaaaaa;
  }
}

@-moz-keyframes show-txt {
  /* line 135, ../sass/main.scss */
  0% {
    color: #fff;
  }

  /* line 136, ../sass/main.scss */
  100% {
    color: #aaaaaa;
  }
}

@keyframes show-txt {
  /* line 135, ../sass/main.scss */
  0% {
    color: #fff;
  }

  /* line 136, ../sass/main.scss */
  100% {
    color: #aaaaaa;
  }
}

/* line 140, ../sass/main.scss */
#watchLaterBox {
  position: fixed;
  font-size: 10px;
  width: 100%;
  height: 100%;
  top: -0;
  left: -120%;
  z-index: 9000;
  padding: 30px 0px;
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  letter-spacing: 1px;
  font-family: 'Dosis', sans-serif;
  opacity: 0.0;
}
/* line 152, ../sass/main.scss */
#watchLaterBox h2 {
  font-size: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}
/* line 159, ../sass/main.scss */
#watchLaterBox #watchLaters {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}
/* line 163, ../sass/main.scss */
#watchLaterBox #watchLaters p {
  -o-animation: show-txt 1.5s ease-out;
  -ms-animation: show-txt 1.5s ease-out;
  -moz-animation: show-txt 1.5s ease-out;
  -webkit-animation: show-txt 1.5s ease-out;
  margin-bottom: 8px;
}

/* line 169, ../sass/main.scss */
#watchLaterFixBg {
  position: fixed;
  top: 0;
  left: -120%;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(234, 76, 137, 0.8);
}

/* line 180, ../sass/main.scss */
#logger {
  position: fixed;
  bottom: 10px;
  font-size: 10px;
  left: 10px;
  width: 200px;
  height: 90%;
  overflow: hidden;
  z-index: 9000;
  background-color: rgba(234, 76, 137, 0.8);
  padding: 6px 18px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  letter-spacing: 1px;
  font-family: 'Dosis', sans-serif;
  opacity: 0.0;
}
/* line 194, ../sass/main.scss */
#logger p {
  transition-property: position, background-color;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
  -o-animation: show-txt 1.5s ease-out;
  -ms-animation: show-txt 1.5s ease-out;
  -moz-animation: show-txt 1.5s ease-out;
  -webkit-animation: show-txt 1.5s ease-out;
  margin-bottom: 8px;
}
/* line 200, ../sass/main.scss */
#logger:hover {
  opacity: 1;
}

/* line 208, ../sass/main.scss */
.pageload-overlay {
  position: fixed;
  width: 100%;
  height: 800%;
  top: 0;
  left: 0;
  z-index: -2;
  background-image: url("../images/bgShots01.png"), url("../images/bgShots02.png"), url("../images/bgShots03.png");
  background-position: top left, center center, bottom right;
  background-repeat: repeat-y;
  background-size: 33.3333% auto;
  background-color: #ea4c89;
  background-blend-mode: multiply;
  -o-animation: bg-anim 30s linear infinite;
  -ms-animation: bg-anim 30s linear infinite;
  -moz-animation: bg-anim 30s linear infinite;
  -webkit-animation: bg-anim 30s linear infinite;
}

/* line 231, ../sass/main.scss */
.pageload-overlay.show {
  visibility: visible;
}

/* line 235, ../sass/main.scss */
.pageload-overlay svg {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 241, ../sass/main.scss */
.pageload-overlay svg path {
  fill: #fff;
}

@-webkit-keyframes bg-anim {
  /* line 249, ../sass/main.scss */
  0% {
    background-position: top 10px left,top -10px center,top right;
  }

  /* line 250, ../sass/main.scss */
  100% {
    background-position: bottom left,bottom center,bottom right;
  }
}

@-moz-keyframes bg-anim {
  /* line 249, ../sass/main.scss */
  0% {
    background-position: top 10px left,top -10px center,top right;
  }

  /* line 250, ../sass/main.scss */
  100% {
    background-position: bottom left,bottom center,bottom right;
  }
}

@keyframes bg-anim {
  /* line 249, ../sass/main.scss */
  0% {
    background-position: top 10px left,top -10px center,top right;
  }

  /* line 250, ../sass/main.scss */
  100% {
    background-position: bottom left,bottom center,bottom right;
  }
}
